*.byte
*.native
*.docdir
/_build
/aclocal.m4
/autom4te.cache
/config.h.in
/config.log
/config.status
/configure
/fform/grammar.automaton
/libvsl/config.h
/libvsl/config.h.in
/libvsl/config.h.in~
/Makefile
/Makefile.local
/myocamlbuild.ml
